apiVersion: v1
kind: Secret
metadata:
  name: {{ ai_control_mcp_secret_name }}
  namespace: {{ openshift_vm_namespace }}
type: Opaque
stringData:
  id_ed25519: {{ lookup('ansible.builtin.file', demo_ssh_private_key_path) | to_json }}
